Django==5.0.8
djangorestframework==3.14.0
django-cors-headers==4.3.1
django-filter==23.5
drf-spectacular==0.28.0
django-environ==0.11.2
django-tinymce==3.7.1
django-extensions==3.2.3
python-dotenv==1.0.0
python-decouple==3.8
validate-email==1.3
requests==2.31.0
celery==5.3.6
redis==5.0.1
django-celery-beat==2.7.0
psycopg[binary]==3.3.4
dj-database-url==2.1.0
pytest==7.4.3
pytest-django==4.7.0
pytest-cov==4.1.0
black==23.12.1
flake8==6.1.0
pre-commit==3.6.0
gunicorn==21.2.0
whitenoise==6.6.0
django-redis==5.4.0
django-unfold==0.5.0
django-stubs==5.0.4